html, body {height: 100%;margin: 0;padding: 0;}
body {color: #000;background: linear-gradient(to top, #e9e26a 0%, #f6d51d 20%, #ffa513 80%, #ff8718 100%);background-position: center;background-attachment: fixed;min-width: 100%;}

.content{width: 70%;margin:0 auto;height: 82%}
.fon{background: #ffffff; margin: 0 30px; padding-bottom:100px;border-bottom-left-radius:15px;border-bottom-right-radius: 15px;font-size: 16px}
#wrapper{height: auto !important;margin: 0 auto;min-height: 100%;}


.my_container{padding: 10px 20px}

/*   -----   HEADER --------  */
.logo{background: #63666f; font-size: 100px;color: #ff8718;text-shadow: 4px 11px 10px black, 0 0 2em red;}

#wrapper .navbar{margin-bottom: 0}
#wrapper .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {color: #ffa513;}
.alert-text{font-size: 30px;color: #ff001e;font-weight: 700;}
#wrapper .navbar-brand, #wrapper .navbar-brand:hover, #wrapper .navbar-brand:focus{font-size:20px;font-weight:600;color: #ffa513}


/*   -----   ITEM --------  */
.item{margin-top: 20px}
.item h3{margin-bottom: 20px}
.item a.itm{color: #0f0f0f}
.item a.itm:hover, .item a.itm:focus{text-decoration: underline; color: #ffffff}

/*   -----   CAROUSEL --------  */
.carousel{margin: 10px auto 50px}
.carousel .item img{max-height: 100%;max-width:100%;display:inline-block; margin:0 auto; vertical-align: middle;}
.carousel-inner .carousel-caption{color: #ff8718}
.carousel .item{margin-top: 0}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{color:#ff8718}

/*   -----   FORM --------  */
.forms{margin-top: 50px}

/*   -----   ABOUT --------  */
.contacts{padding: 10px 200px}
.contacts span{text-decoration: underline}

/*   -----   FOOTER --------  */
.foot{min-height: 50px;background: linear-gradient(to bottom,#3c3c3c 0,#222 100%);border-radius: 7px}
.foot .foot-text{color: #ff8718;font-size: 18px;padding:0 10px}
