html, body {height: 100%;margin: 0;padding: 0;}
body {color: #000;background: #ffffff;}
.clear {clear: both;width:100%;display: table;}
.navbar-wrapper {position: relative;z-index: 15;margin-top: 6%;margin-left:25%}
.carousel {margin-bottom: 30px;margin-top: 50px;box-shadow: 0px 0px 12px rgba(0,0,0,0.4);border-bottom: 1px solid #f4f4f4;}
.carousel-caption {z-index: 10;}
#wrapper {height: auto !important;margin: 0 auto 0;min-height: 100%; padding-bottom: 100px;}
#foot {height: 40px; padding-top: 15px;margin-top: -30px;background-color: #990016;color: #FFFFFF}
.catalogBtnSlider, .catalogBtn_nav {padding: 10px;border-radius: 20px; background-color:#990016; color: #FFFFFF}
.catalogBtn {height: 40px; padding-top: 15px;margin-top: -30px;background-color: #990016;color: #FFFFFF}
.catalogBtn:hover, .catalogBtn_nav:hover{color: #C0C0C0}
.carousel .item {height: 430px;background: #C0C0C0 repeat;width:100%;}
.carousel-inner > .item > img {position: absolute;top: 0;left: 0;height: 55%;}
.carousel-caption {color: #FFFFFF;text-align: center;text-shadow: 0px 0px 2px #fff;}
.carousel-control.left {background-image: none;background-repeat: repeat-x;}
.carousel-control.right {background-image: none;background-repeat: repeat-x;left: auto;right: 0;}
.navbar-inverse {
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(255, 255, 255))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b5484', endColorstr='#014275',GradientType=0 );}
.navbar-inverse .navbar-nav > li > a {color: #000000;text-shadow: 0px 0px 1px #000;font-size: 14px;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {background-color: #ffffff;color: #990016;}
.navbar-static-top {border-width: 0 0 0;}
.navbar-inverse .navbar-brand {color: #000000;text-shadow: 0px 0px 1px #000;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {background-color: #ffffff;color: #990016;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {color: #990016;background-color: #ffffff;}

/* ------ Home  -------*/
.carousel-caption img {position: absolute;left: 0;bottom: 0px; width: 100%;}
.carousel-caption {height: 100%}
.carousel-img  {margin-left:50px;height: 430px}


/* ---- Contact BAr ------ */
.contact-bar {border: 1px solid #DDD; position: fixed; right: 0; top: 10%; background:rgba(255,255,255,0.7);padding: 0px 40px 0px 10px;font-size: 15px;z-index: 555;}
.contact-bar ul li {list-style: none;}
.contact-bar li {padding: 4px 0;}


/*------- Catalog Cart -----*/
.catalog-list {margin-bottom: 30px;border-left: 1px solid #DDD; border-bottom: 1px solid #DDD;border-right: 1px solid #DDD; padding: 10px;background: #FFF;}
.img-zoom-catalog {margin-right: 20px;}
.base_state {width: 100%; padding: 10px;background: #fff;display: table;}
.base_state h4 {text-align: center;margin-left: 15px;}


/*   -----   Catalog row --------  */
.electro_snipet {background: #fff; padding: 5px;height: 185px;margin-bottom: 15px;}
.electro_snipet:hover {box-shadow: 0px 0px 10px rgba(0,0,0,0.1);}
.sn_title {height: 40px; margin: 2px 0 7px 0;}
.electro_snipet img {height: 75px;}
.price_sn {font-size: 16px;float: left;font-weight: 200;color: #CC0000;}
.desc_cat {height: 86px; overflow: hidden;margin-bottom: 7px;}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        font-size: 15px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
    .main {
        width: 50%;
    }
    .catalogBtn{
        display: none;
    }
    .carousel-title {
        margin-top: 5%;
        font-size: 25px;
    }
    .carousel-content {
        display: block;
    }
    .navmobile {
        display: none;
    }
    .col-content{
        margin-left: -15px;
        font-size: 13px;
        line-height: 1.8;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

@media (max-width: 500px) {
    .carousel-title {
        margin-top: 20%;
        font-size: 22px;
    }
    .carousel-content {
        display: none;
    }
    .catalogBtnSlider{
        display: none;
    }
    .row_navbar {
        display: none;
    }
    .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #990016;
        border: none;
    }
    .navmobile {
        display: inline
    }
    .navbarBtn_mob{width: 40px; height: 40px; margin: 3px}
}
