html, body {height: 100%;margin: 0;padding: 0;}

#wrapper {height: auto !important;margin: 0 auto;min-height: 100%;}
/*   -----   HEADER --------  */
.navbar{margin-bottom: 0}
.navbar-wrapper {position: relative;z-index: 15;background-color: #2b8383;color: #ffffff;}

.navbar-inverse .navbar-nav > li > a {background-color: #2b8383;color: #ffffff;}
.navbar-inverse, .navbar {border: none;background: none}
.navbar-inverse .navbar-nav> li > a:hover, .navbar-inverse .navbar-nav> li > a:focus {color: #2b8383;background-color: #ffffff;}

/*   -----   BLOCK 1 --------  */
.block1{min-width: 100%}
.block1 img{width: 100%}

/*   -----   BLOCK 1 --------  */
.block2{min-width: 100%}
.block2 img{width: 100%}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    .navbar-inverse .navbar-collapse {float: right !important;}
    .navbar-inverse, .navbar{margin-right: 100px}
}

@media (max-width: 767px) {

    /*=======NAVBAR======*/
    .navbar-wrapper{background-color: #2b8383}

    .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #2b8383;
        border: none;
    }
}

