@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/ProximaNova-Reg-webfont.eot');
    src: url('fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/ProximaNova-Reg-webfont.woff') format('woff'),
        url('fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
        url('fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body {height: 100%;margin: 0;padding: 0;}

body {margin:90px 0 0; font-family: 'proxima_nova_rgregular', Arial, sans-serif;}


#wrapper {height: auto !important;margin: 0 auto;min-height: 100%;}
/*   -----   HEADER --------  */
.navbar{margin-bottom: 0}
.navbar-wrapper {position: relative;z-index: 1500;background-color: #2b8383;color: #ffffff;}

.navbar-inverse .navbar-nav > li > a {background-color: #2b8383;color: #ffffff;min-height: 90px;font-size:24px;line-height: 50px}
.navbar-inverse, .navbar {border: none;background: #2b8383}
.navbar-inverse .navbar-nav> li > a:hover, .navbar-inverse .navbar-nav> li > a:focus {color: #2b8383;background-color: #ffffff;}
.navbar-inverse .navbar-brand{color: #ffffff; font-weight: 600}
.navbar-inverse .navbar-brand span{font-weight: 400;padding:5px;letter-spacing:5px}


/*   -----   HEAD IMG --------  */
.main_img{min-width: 100%;}
.main_img img{width: 100%;z-index: 1;position: relative;}
.main_img .icons-head{z-index: 1001;position: relative;}
.main_img .icons-head div{width:50px;height: 50px;margin-top: -5%;}
.main_img .icons-head .inst{margin-right: 4%;}
.main_img .icons-head .vk{margin-right: 7%;}
.main_img .icons-head .fb{margin-right: 11%;}

/*   -----   ABOUT --------  */
.about{min-width: 100%;position: relative;overflow: hidden;background-color: #c4e3db}
.about img{width: 100%;top: 0;position: absolute;z-index: 1}
.about .text{width: 85%;margin: auto 45px;z-index: 1001}
.about .text ul{font-size:15px;color:#ff0000;}
.about .text ul a{color:#ff0000;}
.about .text ul a:hover,.about .text ul a:focus{color:#990000;}

/*   -----   FESTIVAL --------  */
.festival{min-width: 100%;background-color: #c4e3db;padding: 45px}
.festival .col-lg-12{padding:20px 0px}
.festival .col-lg-12 .col-lg-5{padding-left:0px}
.festival .col-lg-12 img{width: 100%}
.festival p{font-size: 16px}
.festival h3{margin-top: 0}


/*   -----   TRANSPORT&LIVING --------  */
.transport{min-width: 100%;background-color: #fce0e2;padding: 45px}
.transport h3, .transport h4 {font-weight: 600}
.transport p {font-size: 20px}

/*   -----   PARTICIPATE --------  */
.participate{min-width: 100%;position: relative;overflow: hidden;background-color: #c4e3db}
.participate img{width: 100%;top: 0;position: absolute;}
.participate .title{margin-bottom: 50px;font-size: 24px;font-weight: 600;margin-left: 30px}
.participate input {width: 90%;min-height: 40px;margin-bottom: 30px}
.participate textarea {width: 90%;min-height: 100px;margin-bottom: 30px}
.participate .btn{width: 150px;height: 40px;}
.participate .part_text{color: #ffffff}

/*   -----   PARTNERS --------  */
.clients{min-width: 100%;padding: 50px}
.clients h3{font-weight:600;}
.clients .col-lg-12{padding: 0px}


/*   -----  CONTACTS --------  */
.contacts{min-width: 100%;position: relative;overflow: hidden;background-color: #c4e3db}
.contacts img{width: 100%;top: 0;position: absolute;}
.contacts-main{width: 90%;margin: auto 45px;top:7%;color: #ffffff}
.contacts-main h4{font-weight: 600}
.contacts-main a{text-decoration: none; color: #ffffff;}
.contacts-main a:focus, .contacts-main a:hover{text-decoration: underline;}
.contacts .icons-foot{z-index: 1001;position: relative;}
.contacts .icons-foot div{width:50px;height: 50px;margin-top: -6%;}
.contacts .icons-foot .fb{margin-left: 4%;}
.contacts .icons-foot .vk{margin-left: 8%;}
.contacts .icons-foot .inst{margin-left: 12%;}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    .navbar-inverse .navbar-collapse {float: right !important;}
    .navbar-inverse, .navbar{padding-right: 30px}
    #myModalBox .modal-dialog {margin: 200px auto;}
}
@media (min-width: 850px){
    .participate img, .about img, .contacts img{position: relative;}
    .participate .content {position: absolute;z-index:1001;margin-top: -52%}
    .about .text {position: absolute;z-index:1001;margin-top: -33%}
    .contacts .contacts-main {position: absolute;z-index:1001;margin-top: -2%}
}
@media (max-width: 768px) {
    body {margin:50px 0 0}
    /*=======NAVBAR======*/
    .navbar-wrapper{background-color: #2b8383}
    .navbar-inverse .navbar-nav > li > a{min-height: 50px;font-size:16px;line-height: normal}
    .navbar-inverse .navbar-brand{padding: 7px 20px}
    .about img, .contacts img{position: relative;}
    .about .text,.contacts-main {margin: auto 20px}
    .about .text, .contacts .contacts-main{position: relative;}
    .festival,.transport{padding: 10px 20px}
    .festival .col-lg-12 .col-lg-7{padding-left: 0;}
    .participate .part_text{color: #fc4a5d;}
    .contacts .contacts-main,.contacts .contacts-main a{color: #000000;}
    .clients{padding: 20px}
    .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #2b8383;
        border: none;
    }

}
@media (min-width: 768px) and (max-width: 1600px) {
    body {margin:50px 0 0}
    /*=======NAVBAR======*/
    .navbar-inverse .navbar-nav > li > a{min-height: 50px;font-size:16px;line-height: normal}
}


/* Text for about slide */
@media (min-width: 590px) and (max-width: 768px){
    .about .text, .contacts .contacts-main{font-size: 12px}
    .navbar-inverse .navbar-brand{font-size: 18px;}
    .navbar-inverse .navbar-brand span{font-size: 7px;}
    .participate .title {margin-bottom: 5px;font-size: 14px}
    .participate .part_text{font-size: 11px}
    .participate input{height:20px;margin-bottom: 5px}
    .participate textarea{height: 50px;margin-bottom: 5px}
}
@media (min-width: 768px) and (max-width: 980px){
    .about .text{font-size: 12px}
    .contacts .contacts-main{font-size: 10px}
    .navbar-inverse .navbar-brand{font-size: 19px;padding: 5px 40px}
    .navbar-inverse .navbar-brand span{font-size: 10px;}
    .participate .title {margin-bottom: 20px}
    .participate .part_text{font-size: 15px;margin-top: -20px}
}
@media (min-width: 980px) and (max-width: 1280px){
    .about .text, .contacts .contacts-main{font-size: 12px}
    .navbar-inverse .navbar-brand{font-size: 21px;padding: 5px 40px}
    .navbar-inverse .navbar-brand span{font-size: 13px;}
    .participate .title {margin-bottom: 20px}
    .participate .part_text{font-size: 18px}
}
@media (min-width: 1280px) and (max-width: 1440px){
    .about .text{font-size: 16px}
    .contacts .contacts-main{font-size: 14px}
    .navbar-inverse .navbar-brand{font-size: 24px;padding: 5px 40px}
    .navbar-inverse .navbar-brand span{font-size: 16px}
    .participate .part_text{font-size: 18px}
}
@media (min-width: 1440px) and (max-width: 1680px){
    .about .text{font-size: 20px}
    .contacts .contacts-main{font-size: 16px}
    .navbar-inverse .navbar-brand{font-size: 27px;padding: 5px 40px}
    .navbar-inverse .navbar-brand span{font-size: 19px}
    .contacts h4{font-size: 26px}
    .participate .part_text{font-size: 24px}
}
@media (min-width: 1680px) and (max-width: 2000px){
    .about .text{font-size: 24px}
    .contacts .contacts-main{font-size: 18px}
    .navbar-inverse .navbar-brand{font-size: 30px;padding: 30px 50px;}
    .navbar-inverse .navbar-brand span{font-size: 22px}
    .contacts-main h4{font-size: 26px}
    .participate .part_text{font-size: 24px}
}
@media (max-width: 590px){
    .navbar-inverse .navbar-brand{font-size: 18px;}
    .navbar-inverse .navbar-brand span{font-size: 7px;}
    .participate .title{font-size: 13px}
    .participate .title, .participate input, .participate textarea {margin-bottom: 5px}
    .participate input{min-height: 20px}
    .participate textarea{min-height: 40px}
    .participate .btn{height: 25px;width: 100px;padding: 0px}
    .festival p, .transport p{font-size: 14px}
    .contacts-main h4{font-size: 12px;}

}

@media (max-width: 836px) {
    .participate{padding: 10px 0 10px}
}


/* Icons for main_img slide */
@media (min-width: 1500px) and (max-width: 2000px){
    .main_img .icons-head div, .contacts .icons-foot div{width:50px;height: 50px}
}
@media (min-width: 1000px) and (max-width: 1500px){
    .main_img .icons-head div, .contacts .icons-foot div{width:33px;height: 33px}
}
@media (min-width: 768px) and (max-width: 1000px){
    .main_img .icons-head div, .contacts .icons-foot div{width:27px;height: 27px}
}
@media (min-width: 420px) and (max-width: 768px){
    .main_img .icons-head div, .contacts .icons-foot div{width:20px;height: 20px}
}
@media (max-width: 420px){
    .main_img .icons-head div, .contacts .icons-foot div{width:15px;height:15px}
}